:root {

    --black: #17202a;
    --gray: #28303ada;
    --orange: #7cf32de1;  
    --white: #f4f6f7; 
    --blue: #5dade2;
    --green: #28b463;
    --green_clair: #52be817a;
    --green_black: #0e4727ff;
    --primary: #a91a58e8;
    --completely-black: #060606f0;

}

.no-display {
  display: none;
}

.no-visibility {

  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: visibility 0s, opacity 0.5s linear;

}

html {
    font-size: 62.5%;
    box-sizing: border-box; 
}

*, *:before, *:after { /*Arregla el padding para que no agregue más tamaño al bloque*/
    box-sizing: inherit;
  }

  body {

    font-family: 'Aboreto', cursive;

  }

  a {

    text-decoration: none;

  }

  p {

    line-height: 4rem;
    font-size: 1.5rem;

  }

  h1 {

    font-size: 3rem;
    margin: 0;

  }

  h2 {

    font-size: 2.6rem;

  }

  li {

    list-style: none;

  }

  .contenedor {

    width: min(90%, 120rem);
    margin: 0 auto;

  }


  .contenido-header {
    height: 70rem;
    padding-top: 2rem;

    background-image: url(../../images/MadeInAbyss_Portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  /*Seccion desplegable*/

  .lateral {
    width: max(1.5rem); 
    display: flex;
    position: fixed; 
    height: 100%;
    background-color: var(--white);
    justify-content: center;
    border-right: 2px solid var(--green);

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(93,173,226,0.5410539215686274) 35%, rgba(0,212,255,1) 100%);

    transition: width 0.5s ease;
  }

  @media (min-width: 480px) {
      .lateral {

        width: max(3rem); 

      }
  }


  .lateral:hover {

    width: max(4rem);

  }

  .lateral--mapa {

    right: 0px;

  }

  .lateral__imagen {
    width: 4rem;
  }


  .lateral__imagen:hover {

    filter: invert(100%);
    cursor: pointer;

  }

  /*Header*/

  .contenido-header h1{

    text-transform: uppercase;
    color:var(--orange);
    font-size: 3rem;
    text-decoration: underline;
    background-color: var(--green_clair);

  }

  .header__logo img {

    width: 10rem;
    margin: 0 auto;

  }

  .contenido-header h1 {

    color: var(--black );
    padding: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;

  }



.header__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

@media (min-width: 768px) {
    .header__enlaces {

      flex-direction: row;

    }
}

  .header__enlaces a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: bold;
    background-color: var(--black);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--white);
    margin-right: 1.5rem;
    margin-top: 1rem;

  }

  .header__enlaces a:hover {

    color: var(--blue)

  }

  .barra {

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

  }

@media (min-width: 768px) {
   
  .barra {

    flex-direction: row;
    justify-content:center;
    align-items: center;

  }

}


/*Cita*/

 .cita {
  background-color: var(--black);
  padding: 3rem 0;
 }

.cita__imagen {

  padding: 5rem;
  background-color: var(--gray);
  border-radius: 50%;
  margin: 2rem;

}

.cita__imagen img {

  max-width: 5rem;
  margin: 0 auto;
  display: block;

}

.cita__lateral {

  padding: 2rem;

}


.cita__texto {
  
  color: var(--white);
  padding-left: 3rem;
  font-size: 1rem;
  position: relative;

}

.cita__texto::before {
  background-image: url(../../images/double-quotes-left.svg);
  background-repeat: no-repeat;
  content: "";
  display: block;
  height: 8rem;
  left: 1rem;
  position: absolute;
  width: 2rem;

}

.cita__imagen--texto {

  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: var(--white);

}

@media (min-width: 320px) {
   
  .cita__imagen img {

    max-width: 20rem;

  }

}

@media (min-width: 480px) {
  .cita__texto {
    font-size: 5rem;
    padding-left: 7rem;
  }

  .cita__texto::before {

    width: 6rem;

  }
}

@media (min-width: 768px) {
  .cita__imagen img {

    max-width: 50rem;

  }
}

@media (min-width: 1200px) {
    
  .cita {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 3rem; */
    column-gap: 3rem;
    place-items: center;
  
  }

  .cita__texto {

    padding-left: 4rem;

  }

  .cita__texto::before {

    left: -2rem;

  }

}


/*Mapa desplegable*/

.mapa {

  /* position: fixed; */
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  display: inline-grid;
  grid-template-rows: 1fr 2fr 2fr;
  place-items: center;
  align-items: center;
  justify-content: center;
  background: rgb(22,16,14);
  background: linear-gradient(180deg, rgba(22,16,14,0.8606793059020483) 35%, rgba(0,0,0,0.9531162806919643) 100%);
  z-index: 1;
  

}

.mapa.no-visibility {

  visibility: visible;
  opacity: 1;

}

.mapa h2 {

  color: var(--white);
  font-size: 3rem;
  text-decoration: underline;
  text-transform: uppercase;

}

.mapa__scroll {

  margin-top: 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(22,16,14);
  background: linear-gradient(180deg, rgba(22,16,14,0.8606793059020483) 5%, #A18B67 100%);
  padding: 2rem;
  border-radius: 1rem;
  position:static;

}

@media (min-width: 768px) {
    
  .mapa__scroll {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
    place-items: center;

  }

}


#imagenAbismo {

  box-shadow: 0px 5px 15px 1px  #000000;
  padding: 2rem;
  transition: padding 0.5s ease;

}

#imagenAbismo:hover {

  cursor: pointer;
  padding: 2.5rem;

}


.mapa__contenedor {

  height: fit-content;
  max-height: -webkit-fill-available;
  width: 90%;
  overflow: scroll;


}

.mapa__contenedor:hover {

  cursor: pointer;

}

.mapa__portada {

  height: auto;
  transition: opacity 0.5s ease-out;

}

.mapa__portada:hover {

  opacity: 0.5;

}



.mapa__img1, .mapa__img3 {

  width: 7rem;
  filter: invert(100%);
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0px 3px 15px 1px  #000000;
  padding: 1rem;

}

.mapa__img2 {

  width: 200px;

}

@media (min-width: 768px) {
    
  .mapa__img2 {

    height: 277px;
    width: 35rem;
  
  }

}

.mapa__img1:hover, .mapa__img3:hover {

  cursor: pointer;
  width: 8rem;

}

/*Capas*/

.background-articles {

  background: linear-gradient(0deg, rgb(0, 0, 8) 10%, rgba(93,173,226,0.5410539215686274) 100%, rgba(36, 49, 70, 0.795) 100%);
  padding: 3rem 0;

}

.Capas {

  background-color: var(--white);
  width: 80%;
  margin: 4rem auto;
  padding: 2rem;
  border: 1px solid var(--green);
  border-radius: 1rem;
  box-shadow: 0px 5px 15px 1px var(--orange);
  

}

.Capas__Titulo {

  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(139, 136, 136, 0.91);


}

.Capas__header {

  border-bottom: 1px solid rgb(155, 152, 152);
  

}

.Capas__header h2 {

  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;

}

.Capas__header img {

  margin-bottom: 3rem;
  width: 100%;

}

.Capas__informacion h2{

  font-size: 2.6rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;

}

.Capas__grid {

  
  /* column-gap: 2rem; */
  box-shadow: 0px 5px 10px -5px var(--black);
  border-radius: 1rem;
  padding: 1rem;

}

@media (min-width: 1280px) {
    
  .Capas__grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

}



.Capas__informacion--iconos {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Capas__informacion--iconos img {

  width: 6rem;
  /* border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; */


}

.Capas__informacion--iconos a {

  background-color: var(--green);
  border: 1px solid var(--black);
  color: var(--white);
  padding: 1.5rem;
  font-size: 1.7rem;

}

.Capas__informacion--iconos a:hover {

  background-color: #000000;

}

.Capas__informacion--resumen {

  padding: 1rem;

}

@media (min-width: 1280px) {
    
  .Capas__informacion--resumen {

    border-right: 1px solid rgba(161, 154, 154, 0.89);

  }

}

.Capas__informacion--tabla {

  margin: 0 auto;

}

/*Personajes*/

.Capas__informacion-personajes {

  padding: 1rem;

}



@media (min-width: 768px) {
    
  .Capas__informacion-personajes-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  
  }

}

.personajes img {

  width: 100%;

}

/*Overlay de la imagen del mapa*/ 

.overlay {

  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  display: grid;
  place-items: center;

  background-color: rgb(0 0 0 / .5);


}

.overlay img {

  width: 100%;

}

/*Header de sub-pages*/

.contenido-header--notmain {

  padding: 2rem;
  background-color: var(--black);
  color: var(--white);

}

.barra--notmain {

  justify-content: space-around;
  gap: 3rem;
  padding: 2rem 0;

}

/*Iframe*/

.iframe {

  display: block;
  background-color: var(--completely-black);
  margin-top: 3rem;
  color: var(--white);
  border-radius: 1rem;
  border: 1px solid var(--black);
  border-top: none;
  padding: 0 0 2rem 0;

}

.iframe h2 {

  background-color: var(--blue);
  padding: 2rem;
  width: 100%;
  text-align: center;
  margin: 3rem 0;
  /* border-radius: 1rem; */

}

.iframe h2:first-of-type {

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-top: 0;

}

.gmap_canvas {
  overflow:hidden;
  background: none!important;

}

.iframe__video video {

  width: 100%;
  height: 100%;
  border: 1px solid var(--white);
  border-radius: 1rem;

}

.margin-auto {

  margin: 0 auto;

}

@media (min-width: 768px) {
    
  .iframe--width {

    width: 66.2rem;

  }

  .gmap_canvas {

    width: 65.9rem;

  }

}

@media (min-width: 1280px) {
    
  .iframe {

    display: grid;
    place-items: center;

  }

  .iframe--width {

    height:62.1rem;
    width:90.9rem;
  
  }

  .gmap_canvas {

    height:62.1rem;
    width:90.9rem;

  }

}

/*Formulario*/

.contenido-main {

  padding: 2rem 0;
  
}

.contenido-main h2 {

  text-align: center;

}

.formulario legend {

  font-size: 2rem;
  color: var(--black);
  padding-top: 2rem;

}

.formulario label {

  display: block;
  font-size: 1.6rem;
  margin-bottom: 1.8rem;

}

.formulario input {

  padding: 1rem;
  display: block;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--black);
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 100%;

}

.formulario__radio {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;

}

.formulario input[type="radio"] {

  margin: 0;
  height: 1.3rem;
  width: 10%;

}
.formulario input[type="submit"]
 {

  margin-top: 2rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;

}



.formulario input[type="submit"]:hover {

  cursor: pointer;
  background-color: var(--black);

}

@media (min-width: 768px) {
    
  .formulario__radio {

    grid-template-columns: 1fr 9fr;

  }


  .formulario input[type="submit"] {

    width: 20%;

  }


}

/*Aside*/


.aside aside {

  border-left: 1px solid var(--black);
  padding: 2rem;

}


.aside__lista ol{

  padding: 0;

}

.lista__elemento {

  display:flex;
  flex-direction: column;

}

.lista__elemento img {

  width: 10rem;
  margin: 0 auto;

}

.lista__elemento p {

  font-size: 1rem;

}


@media (min-width: 768px) {
 
  .aside {

    display: grid;
    grid-template-columns: 3fr 1fr;
  
  }
  

}
