:root {

    --black: #17202a;
    --gray: #28303ada;
    --orange: #7cf32de1;  
    --white: #f4f6f7; 
    --blue: #5dade2;
    --green: #28b463;
    --green_clair: #52be817a;
    --green_black: #0e4727ff;
    --primary: #e00dbd;

    --primary-font: 'Aboreto', cursive; /*font-family: 'Aboreto', cursive;*/

}

.no-display {
  display: none;
}

.no-visibility {

  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: visibility 0s, opacity 0.5s linear;

}

html {
    font-size: 62.5%;
    box-sizing: border-box; 
}

*, *:before, *:after { /*Arregla el padding para que no agregue más tamaño al bloque*/
    box-sizing: inherit;
  }

  body {

    font-family: 'Aboreto', cursive;;

  }

  .contenedor {

    width: min(90%, 120rem);
    margin: 0 auto;

  }


  .contenido-header {
    height: 70rem;
    padding-top: 2rem;

    background-image: url(../../images/MadeInAbyss_Portada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  /*Seccion desplegable*/

  .lateral {
    width: max(1.5rem); 
    display: flex;
    position: fixed; 
    height: 100%;
    background-color: var(--white);
    justify-content: center;
    border-right: 2px solid var(--green);

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(93,173,226,0.5410539215686274) 35%, rgba(0,212,255,1) 100%);
  }

  @media (min-width: 480px) {
      .lateral {

        width: max(3rem); 

      }
  }


  .lateral:hover {

    width: max(4rem);

  }

  .lateral--mapa {

    right: 0px;

  }

  .lateral__imagen {
    width: 4rem;
  }


  .lateral__imagen:hover {

    filter: invert(100%);
    cursor: pointer;

  }

  /* .section-pruebas {

    position: fixed;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

  } */

  /*Header*/

  .contenido-header h1{

    text-transform: uppercase;
    color:var(--orange);
    font-size: 3rem;
    text-decoration: underline;
    background-color: var(--green_clair);

  }

  .header__logo img {

    width: 10rem;
    margin: 0 auto;

  }

  .contenido-header h1 {

    color: var(--black );
    padding: 2rem;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;

  }



.header__enlaces {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}

@media (min-width: 768px) {
    .header__enlaces {

      flex-direction: row;

    }
}

  .header__enlaces a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: bold;
    background-color: var(--black);
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid var(--white);
    margin-right: 1.5rem;
    margin-top: 1rem;

  }

  .header__enlaces a:hover {

    color: var(--blue)

  }

  .barra {

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

  }

@media (min-width: 768px) {
   
  .barra {

    flex-direction: row;
    justify-content:center;
    align-items: center;

  }

}

/*Desplegable*/

.desplegable {

  display: flex;
  flex-direction: column;
  align-items: center;

}



/*Cita*/

 .cita {
  background-color: var(--black);
  padding: 3rem 0;
 }

@media (min-width: 1200px) {
    
  .cita {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 3rem; */
    column-gap: 3rem;
    place-items: center;
  
  }

}

.cita__imagen {

  padding: 5rem;
  background-color: var(--gray);
  border-radius: 50%;
  margin: 2rem;

}

.cita__imagen img {

  max-width: 5rem;
  margin: 0 auto;
  display: block;

}

.cita__texto {
  
  color: var(--white);
  font-size: 1rem;
  text-align: center;

}

.cita__imagen--texto {

  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: var(--white);

}


@media (min-width: 320px) {
   
  .cita__imagen img {

    max-width: 20rem;

  }

}

@media (min-width: 480px) {
    .cita__texto {
      font-size: 5rem;
    }
}

@media (min-width: 768px) {
    .cita__imagen img {

      max-width: 50rem;

    }
}

/*Mapa desplegable*/

.mapa {

  /* position: fixed; */
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  display: inline-grid;
  grid-template-rows: 1fr 2fr 2fr;
  place-items: center;
  align-items: center;
  justify-content: center;
  background: rgb(22,16,14);
  background: linear-gradient(180deg, rgba(22,16,14,0.8606793059020483) 35%, rgba(0,0,0,0.9531162806919643) 100%)

  

}

.mapa.no-visibility {

  visibility: visible;
  opacity: 1;

}

.mapa h1 {

  color: var(--white);
  font-size: 3rem;
  text-decoration: underline;

}

.mapa__scroll {

  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(22,16,14);
  background: linear-gradient(180deg, rgba(22,16,14,0.8606793059020483) 25%, rgb(14, 71, 39) 100%);
  padding: 2rem;
  border-radius: 1rem;
  position:static;

}

@media (min-width: 768px) {
    
  .mapa__scroll {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    margin-top: 2rem;
    place-items: center;

  }

}


.mapa__contenedor {

  height: fit-content;
  max-height: -webkit-fill-available;
  width: 90%;
  overflow: scroll;


}

.mapa__portada {

  height: auto;

}

.mapa__img1, .mapa__img3 {

  width: 5rem;
  filter: invert(100%);
  background-color: var(--white);
  border-radius: 50%;

}

.mapa__img2 {

  width: 200px;

}

@media (min-width: 768px) {
    
  .mapa__img2 {

    height: 277px;
    width: 35rem;
  
  }

}

.mapa__img1:hover, .mapa__img3:hover {

  cursor: pointer;
  width: 6rem;

}